{% extends "base.html" %}

{% block content %}

<h1>My tasks:</h1>

{% for task in task_list %}
<div>
  <a href="{% url 'task:task-detail' pk=task.id %}">
    <p>{{ task.name }}</p>
  </a>
    <p>{{ task.is_completed }}</p>
    <p>{{ task.priority }}</p>
    <p>{{ task.deadline }}</p>
    <a href="{% url 'task:task-delete' pk=task.id %}">Delete</a>
    <a href="{% url 'task:task-update' pk=task.id %}">Update</a>
    <a>Done</a>
</div>
{% empty %}

<h3>You don't have any tasks yet.</h3>
{% endfor%}

{% endblock %}