<header class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">

    <div class="">

      <h1 class="navbar-brand">
        <a class="btn btn-outline-success" href="{% url 'task:index' %}">Task manager</a>
      </h1>

    </div>

    <div class="mx-auto">

      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'task:my-task' %}">My Tasks</a>
        </li>
        <li>
          <a class="nav-link active" href="{% url 'task:task-list' %}">All Tasks</a>
        </li>
        <li>
          <a class="nav-link active" href="{% url 'task:worker-list' %}">Workers</a>
        </li>
        <li>
          <a class="nav-link active" href="{% url 'task:position-list' %}">Positions</a>
        </li>

      </ul>
    </div>
    <div class="">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <div>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout">
      </form>
    </div>
  </div>
</header>
