<header class="navbar">
  <div class="navbar-container">

    <a class="navbar-brand" href="{% url 'task:index' %}">Task Manager</a>

    <nav class="navbar-nav">
      <a class="nav-link" href="{% url 'task:my-task' %}">My Tasks</a>
      <a class="nav-link" href="{% url 'task:task-list' %}">All Tasks</a>
      <a class="nav-link" href="{% url 'task:worker-list' %}">Workers</a>
      <a class="nav-link" href="{% url 'task:position-list' %}">Positions</a>
    </nav>

    {% if search %}
    <div class="navbar-search">
      <form method="get">
        {{ search.as_p }}

        {% for key, value in request.GET.items %}
          {% if key != 'search' and key != 'page' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
          {% endif %}
        {% endfor %}

        <input type="submit" value="Search">
      </form>
    </div>
    {% endif %}

    <div class="navbar-end">
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme"></button>
      <form class="logout-form" method="post" action="{% url 'logout' %}?next={{request.path}}">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Logout</button>
      </form>
    </div>

  </div>
</header>