{% load query_transform %}

<div class="filter-bar">
  <div class="dropdown">
    <button class="dropdown-trigger" type="button">Filters</button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="?">All tasks</a>
      </li>
      <li>
        <div class="dropdown-divider"></div>
      </li>
      <li>
        <a class="dropdown-item" href="?{% query_transform request is_completed=True %}">Completed</a>
      </li>
      <li>
        <a class="dropdown-item" href="?{% query_transform request is_completed=False %}">Not completed</a>
      </li>
      <li>
        <div class="dropdown-divider"></div>
      </li>
      {% for label, value in priority_list %}
      <li>
        <a class="dropdown-item" href="?{% query_transform request priority=label %}">{{ label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
