{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Manager{% endblock %}</title>
  <script src="{% static 'js/script.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% if user.is_authenticated %}
  {% block header %}
    {% include "includes/header.html" %}
  {% endblock %}
{% endif %}

{% block content %}
{% endblock %}

{% include "includes/pagination.html" %}

</body>
</html>